<section class="section">
  <div class="container">
    <nav class="level">
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Number of keys</p>
          <p class="title"><%= @number_of_keys %></p>
        </div>
      </div>
    </nav>
  </div>
</section>