<!DOCTYPE html>
<html>
<head>
  <title>Fastentry</title>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= stylesheet_link_tag    "fastentry/application", media: "all" %>
  <%= javascript_include_tag "fastentry/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
